body {
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.collogistics {
	float: left;
	width: 175px;
	margin-right: 10px;
}

.collogistics, a:link, a:visited { 
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

.nrarip {
	width: 250px;
	margin-bottom: 10px;
}
